.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/Makefile
build/mapreduce
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.24.2/CMakeCCompiler.cmake
build/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.24.2/CMakeSystem.cmake
build/CMakeFiles/3.24.2/CompilerIdC/a.out
build/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.24.2/CompilerIdCXX/a.out
build/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/mapreduce.dir/build.make
build/CMakeFiles/mapreduce.dir/cmake_clean.cmake
build/CMakeFiles/mapreduce.dir/compiler_depend.internal
build/CMakeFiles/mapreduce.dir/compiler_depend.make
build/CMakeFiles/mapreduce.dir/compiler_depend.ts
build/CMakeFiles/mapreduce.dir/depend.make
build/CMakeFiles/mapreduce.dir/DependInfo.cmake
build/CMakeFiles/mapreduce.dir/flags.make
build/CMakeFiles/mapreduce.dir/link.txt
build/CMakeFiles/mapreduce.dir/progress.make
build/CMakeFiles/mapreduce.dir/src/file_preparation.cpp.o
build/CMakeFiles/mapreduce.dir/src/file_preparation.cpp.o.d
build/CMakeFiles/mapreduce.dir/src/main.cpp.o
build/CMakeFiles/mapreduce.dir/src/main.cpp.o.d
build/CMakeFiles/mapreduce.dir/src/map_reduce.cpp.o
build/CMakeFiles/mapreduce.dir/src/map_reduce.cpp.o.d
